*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

/* NAVBAR */
.navbar {
	/* padding: 10px 20px; */
	font-weight: 600;
	background-color: var(--white);
	border-bottom: 1px solid var(--border-color);
}
.navbar .navbar-brand .brand {
	max-width: 100%;
	height: auto;
}
.navbar ul.navbar-nav {
	gap: 1rem;
	/* border: 2px solid red; */
}
.navbar li.nav-item {
	white-space: nowrap;
}
.navbar li.active {
	color: var(--dark-blue);
}

/* FOOTER */
footer {
	/* position: absolute;
	bottom: 0;
	width: 100%; */
	margin-top: auto;
	color: var(--white);
	background-color: var(--footer-bg);
}

/* HOME PAGE */
/* JOB COMPONENT */
.job-card {
	display: flex;
	margin-bottom: 0.9375rem;
	padding: 0.65rem;
	color: var(--black);
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
}
.job-card img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
}
.job-card-details {
	flex-grow: 1;
	padding: 0 15px;
}
.job-actions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.job-actions p {
	margin-bottom: auto;
}
.job-actions button {
	margin-top: auto;
	font-weight: 600;
}

.login_card {
	width: auto;
	height: 600px;
	font-weight: 600;
	background-color: var(--white);
	border-radius: 0.5rem;
	box-shadow: #63636333 0px 2px 4px 0px;
}
