:root {
	--white: #fff;
	--black: #000;
	--grey-bg: #f8f9fa;
	--light-grey: #a1a1a1;
	--dark-grey: #888888;
	--text-grey: #606060;

	--light-blue: #06b4e4;
	/* --bg-light-blue: #cef4ff5d; */
	--bg-light-blue: #edfbff;
	--dark-blue: #079cc5;

	--faculty-red: #8b191c;
	--bg-light-red: #fdc1c362;
	--dark-faculty-red: #6e1216;

	--my-purple: #686bff;

	--footer-bg: #191919;
	--border-color: #eeeeee;

	--pdf-file-color: #f40f02;
	--docx-file-color: #2b579a;
	--pptx-file-color: #d24726;
}

@font-face {
	font-family: "BaiJamjuree";
	src: local("BaiJamjuree"),
		url("./fonts/BaiJamjuree-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "THSarabunNew";
	src: local("THSarabunNew"), url("./fonts/THSarabunNew.ttf") format("truetype");
	font-weight: 400;
}

a {
	color: var(--light-blue);
	transition: all 0.2s ease;
	text-decoration: none;
}
a:hover {
	color: var(--dark-blue);
	text-decoration: none;
}

body {
	font-family: "BaiJamjuree";
}

.app {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
}
.container {
	flex: 1;
}
.container-fluid {
	flex: 1;
	/* padding: 0; */
}

/* .container {
	min-height: 84%;
}
.container-fluid {
	padding: 0;
	margin: 0 auto;
	min-height: 84%;
} */

.img-fluid {
	max-width: 100%;
	height: auto;
}

button {
	width: auto;
	padding: 5px 10px;
	font-size: 1em;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.4s;
	/* letter-spacing: 0.5px; */
	/* outline: none; */
}
button:focus,
button:focus-visible {
	/* outline: none; */
}

.a-btn {
	width: auto;
	padding: 5px 10px;
	font-size: 1em;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.5s;
}
.a-text {
	color: var(--light-blue);
	cursor: pointer;
	transition: all 0.3s;
}
.a-text:hover {
	color: var(--dark-blue);
}

.text-light-blue {
	color: var(--light-blue);
}

.hr-blue {
	color: var(--light-blue);
}
.hr-grey {
	border: 1.5px solid var(--border-color);
}

.bg-blue {
	background: var(--light-blue);
}
.bg-light-blue {
	background: var(--bg-light-blue);
}
.bg-light-red {
	background: var(--bg-light-red);
}
.bg-gradient-red-blue {
	background: rgb(251, 76, 76);
	background: linear-gradient(
		90deg,
		rgba(251, 76, 76, 1) 0%,
		rgba(6, 180, 228, 1) 52%,
		rgba(6, 180, 228, 1) 100%
	);
}
.bg-my-purple {
	background: var(--my-purple);
}
.text-my-purple {
	color: var(--my-purple);
}
.border-my-purple {
	border-bottom: solid var(--my-purple);
}

.pdf-file-color {
	color: var(--pdf-file-color);
}
.docx-file-color {
	color: var(--docx-file-color);
}
.pptx-file-color {
	color: var(--pptx-file-color);
}

/* .card {
	border: 1px solid var(--border-color);
} */

/* SIDEBAR */
.sidebar {
	/* height: 100%; */
	overflow-y: hidden;
	overflow-x: hidden;
}
.sidebar.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.sidebar .nav-link {
	transition: all 0.2s ease;
}
.sidebar .nav-link:hover {
	background: var(--border-color);
}
.sidebar .nav-link.active {
	color: var(--white);
	background: var(--light-blue);
	/* background: rgb(6, 180, 228);
	background: linear-gradient(
		90deg,
		rgba(6, 180, 228, 1) 0%,
		rgba(6, 180, 228, 1) 60%,
		rgba(248, 249, 250, 1) 100%
	); */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
