.btn_grey {
	white-space: nowrap;
	color: var(--white);
	background-color: var(--light-grey);
	border: 1px solid var(--light-grey);
}
.btn_grey:hover {
	color: var(--white);
	background-color: var(--dark-grey);
}
.btn_grey:focus {
	color: var(--white);
	background-color: var(--dark-grey);
	box-shadow: var(--light-grey) 0px 0px 0px 3px;
}

.btn_grey_outline,
.a_btn_grey_outline {
	white-space: nowrap;
	color: var(--text-grey);
	background-color: var(--white);
	border: 1px solid var(--text-grey);
}
.btn_grey_outline:hover,
.a_btn_grey_outline:hover {
	color: var(--white);
	background-color: var(--dark-grey);
	border: 1px solid var(--dark-grey);
}
.btn_grey_outline:focus,
.a_btn_grey_outline:focus {
	color: var(--white);
	background-color: var(--light-grey);
	box-shadow: var(--light-grey) 0px 0px 0px 3px;
}

.btn_blue {
	white-space: nowrap;
	color: var(--white);
	background-color: var(--light-blue);
	border: 1px solid var(--light-blue);
}
.btn_blue:hover {
	color: var(--white);
	background-color: var(--dark-blue);
}
.btn_blue:focus {
	color: var(--white);
	background-color: var(--dark-blue);
	box-shadow: var(--light-blue) 0px 0px 0px 3px;
}

.btn_blue_outline {
	white-space: nowrap;
	color: var(--light-blue);
	background-color: var(--white);
	border: 1px solid var(--light-blue);
}
.btn_blue_outline:hover {
	color: var(--white);
	background-color: var(--light-blue);
	border: 1px solid var(--light-blue);
}
.btn_blue_outline:focus {
	color: var(--white);
	background-color: var(--light-blue);
	box-shadow: var(--light-blue) 0px 0px 0px 3px;
}

/* DROPDOWN (-*-) */
.dropdown_menu_grey {
	margin-top: 5px;
	border-color: var(--light-grey);
}
.dropdown_menu_item_grey {
	color: var(--black);
}
.dropdown_menu_item_grey:hover {
	color: var(--black);
}
.dropdown_menu_item_grey:active {
	background: var(--light-grey);
	color: var(--white);
}

.dropdown_menu_blue {
	margin-top: 5px;
	border-color: var(--light-blue);
}
.dropdown_menu_item_blue {
	color: var(--light-blue);
}
.dropdown_menu_item_blue:hover {
	color: var(--dark-blue);
}
.dropdown_menu_item_blue:active {
	background: var(--light-blue);
	color: var(--white);
}
